article {
  border-width: 0.25em;
  border-style: solid;
  margin-bottom: 1em;
  margin-top: 1em;
}

article.tweet:hover {
  box-shadow: 0.2em 0.2em 0.02em #406da184;

}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;

}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile p {
  margin-left: 0.5em;
  font-size: 1.0em;
}

.account-tag {
  opacity: 50%;
}

article>p {
  word-wrap: break-word;
  margin: 1em;
  margin-bottom: 0em;
  border-bottom-width: 0.25em;
  padding-bottom: 1em;
  border-bottom-style: solid;
  font-size: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

article time {
  font-size: 0.5em;
}

.social-icons {
  font-size: 0.75em;
  color: #4056A1;
}

.social-icons i {
  margin: 0.25em;
}

.social-icons i:hover {
  color: darkgoldenrod;
}