.container-float-button {
  width: 100%;
}

.float-button {
  opacity: 0%;
  background-color: red;
  color: white;
  position: fixed;
  bottom: 1em;
  right: 1.5em;
  padding: 1.5em;
  cursor: pointer;
  border-radius: 2em;
}
