nav {
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  nav {
    background: transparent;
  }
}

.right {
  display: flex;
  flex-direction: column;
}

.arrow {
  color: red;
  display: flex;
  justify-content: center;
  -webkit-animation: bounce 1s infinite;

  @-webkit-keyframes bounce {
    0% {
      bottom: 5px;
    }

    25%,
    75% {
      bottom: 15px;
    }

    50% {
      bottom: 20px;
    }

    100% {
      bottom: 0;
    }
  }

}

.right {
  padding: 1em;
}

nav .new-tweet {
  font-family: "Source Sans Pro", sans-serif;
}


.right:hover {
  cursor: pointer;
}