section.new-tweet {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  margin-top: 2em;
}

.tweet-entry {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

#tweet-text {
  background-color: #f4f1ec;
  resize: none;
  border-top-width: 0em;
  border-left-width: 0em;
  border-right-width: 0em;
  border-bottom-width: 0.25em;
  border-bottom-color: black;

  padding-bottom: 1em;
  margin-bottom: 1em;
  height: 2em;
  transition: all 0.3s ease;
}

#tweet-text:focus-visible {
  outline: 0em;
}

#tweet-text:focus {
  height: 4em;
}

.btn-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}


.tweet-button {
  background-color: #4056A1;
}